@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// declaring global colors in this section, who knows... maybe we'll make it themable
:root {
    // colors
    --body-background: #fff;
    --hover-buttons: #eee;

    // shadows
    --menu-shadow: 0 8px 11px -6px rgba(0, 0, 0, 0.12);
    --drawer-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.12);

    // borders
    --sepparator: solid 1px #ddd;

    // actions
    --active-opacity: .6;

    // the body font size
    --body-font: normal 400 14px "Roboto", sans-serif;
    --category-font: normal 600 16px "Roboto", sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font: var(--body-font);
  margin: 0;
  padding: 0;

  // body dimensions
  width: 100%;
  height: 100%;

  // making all custom elements inside body as display flex
  *:defined:not(style):not(link):not(script):not(:where(div, span, p, hr)) {
    display: flex;
    box-sizing: border-box;
  }

  div {
    box-sizing: border-box;
  }

  app-layout {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    .top-navigation {
      display: flex;
      align-items: center;
      column-gap: 5px;
      background: var(--body-background);
      box-shadow: var(--menu-shadow);

      .top-menu {
        display: flex;
        flex: 1;
        align-items: center;

        .top-app-menu {
          display: flex;
          flex: 1;
        }

        .top-ctx-menu {
          display: flex;
          padding-right: 20px;
        }
      }
    }

    .app-body {
      // relative position for absolute elements
      position: relative;
      display: flex;
      flex: 1;
    }
  }
}
